.stock-button-icon {
    width: 15px;
    height: 8px;
}

.stock-settings-button {
    width: 20px;
    height: 20px;
    border: 1px solid #666;
    border-radius: 30px;
    padding:13px;
    spacing: 12px;
}

.stock-item-container {
    padding: 0;
    margin: 0;
    width: 200px;
    text-align: left;
}

.stock-symbol-container {
    width: 100px;
    text-align: left;
    font-size: 20px;
    margin: 10px 5px 10px 0;
}

.stock-value-container,
.stock-change-container {
    width: 50px;
    text-align: left;
    font-size: 15px;
    margin: 10px 5px;
}

.container {
    padding: 0;
    margin: 0;
}

.stock-change-positive {
    color: green;
}

.stock-change-negative {
    color: red;
}
