.stock-button-icon {
    width: 20px;
    padding: 5px 0;
    color: white;
}

.stock-settings-button {
    width: 15px;
    height: 15px;
    border: 1px solid #666;
    border-radius: 30px;
    padding:13px;
    spacing: 12px;
}

.container {
    width: 100%;
}

.stock-item-container {
    margin: 0;
    min-width: 200px;
    display: inline-block;
}

.stock-symbol-container {
    width: 100%;
    padding: 0;
    color: white;
    font-size: 17px;
}

.stock-value-container,
.stock-change-container {
    font-size: 17px;
}

.stock-symbol-container,
.stock-value-container,
.stock-change-container {
    padding: 5px 20px;
}

.stock-symbol-container > StLabel,
.stock-value-container > StLabel,
.stock-change-container > StLabel {
    width: 75px;
}


.stock-change-container,
.stock-value-container > StLabel {
    padding-left: 0;
}


.stock-change-positive {
    color: green;
}

.stock-change-negative {
    color: red;
}
